<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
    	http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        ">
	<!-- 开启Spring组件扫描 -->
	<context:component-scan base-package="com.hjf.action"/>
	
	<!-- 开启SpringMVC注解 -->
	<!-- 跟重要注解有关@RequestMapping @ResponseBody有关 -->
	<mvc:annotation-driven/>
	
	<!-- 添加视图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- 静态资源放行，否则就会进入action -->
	<!-- location就是指本地工程中的静态资源的位置 -->
	<!-- mapping就是指URL地址中的映射 -->
	
	<mvc:resources location="/Images/" mapping="/Images/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>	
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/laydate/" mapping="/laydate/**"/>


	<!--4 文件上传解析器
    文件上传依赖jar，pom文件添加依赖-->

	<!--multipartResolver配置
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		  p:defaultEncoding="UTF-8"
		  p:maxUploadSize="9437184"
		  p:maxInMemorySize="9437184"
		  p:uploadTempDir="file:/d:/temp"
	/>-->
	<!-- 配置文件上传类型解析器 multipartResolver-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/*"/>
			<bean class="com.hjf.interceptor.FileUploadInterceptor">
				<!-- 设定限制的文件上传大小 -->
				<property name="maxSize" value="9437184"/>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 1.在文件上传解析时发现异常，此时还没有进入到Controller方法中 -->
	<!--<bean id="exceptionResolver" class= "org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				&lt;!&ndash; 遇到MaxUploadSizeExceededException异常时，跳转到error.jsp页面  &ndash;&gt;
				<prop key= "org.springframework.web.multipart.MaxUploadSizeExceededException">/error </prop>
			</props>
		</property>
	</bean>-->

	<!-- 设置json和response的字符编码 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
				<ref bean="stringHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>


</beans>